body {
    background-image: url();
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    font-family: 'Acme', sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#navContainer {
    widows: 100px;
    height: 150px;
}

myNavbar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: teal;
}

/*################### Best deals pictures#####################*/

#form-title {
    padding-top: 05px;
}

#row{
    background-image: url("../images/pizza.jpg");
    background-repeat: no-repeat;
}
#rd{
    color: crimson;
    font-size: 25px;
}
#rd1{
    color: white;
    
}
footer{
    background-color: rgb(102, 34, 34); 
}
#title {
    color: ghostwhite;
}
#label {
    color: ghostwhite;
}