body {
    background-image: url();
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    font-family: 'Acme', sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#navContainer {
    widows: 100px;
    height: 150px;
}

myNavbar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: teal;
}

/*###################################About#####################*/
.about-pictures {
    position: relative;
}

.about-image {
    position: absolute;
    width: 100 px;
    height: 100px;
    transition: all 3s ease;
    opacity: 0.8;
}

.img-1 {
    left: 0%;
    top: 0%;
}

.img-2 {
    left: 20%;
    top: 20%;
    z-index: 10;
}

.img-3 {
    left: 40%;
    top: 45%;
    z-index: 20;
}

.img-4 {
    left: 40%;
    top: 0%;
}

.img-5 {
    left: 0%;
    top: 45%;

}

#form-title {
    padding-top: 120px;
}

#order-form {
    padding-top: 10px;
    align-content: center;
}